
$lightBackground: #F2F2F2;
$darkText: #212121;
$lightText: #515151;


body {
    font-family: 'Merriweather', serif;
    background-color: $lightBackground;
    color: $darkText;
}

a {
    text-decoration: none;
    color: $darkText;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        color: $lightText;
    }
}

strong {
    font-style: italic;
}