
$lightBackground: #F2F2F2;
$darkText: #212121;
$lightText: #515151;


body {
    font-family: 'Merriweather', serif;
    background-color: $lightBackground;
    color: $darkText;
}

a {
    text-decoration: none;
    color: $darkText;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        color: $lightText;
        cursor: pointer;
    }
}

.copy {
    display: flex;
    background-color: #f4f4f4;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.scroll {
    margin-right: 20px;
    width: 450px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    flex: 2;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;

    input {
        width: 100%;
    }
}